body {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}
section {
    width: 90vw;
    height: 90vh;
    margin: 5% auto;
    background-color: #f1a375;
    border-radius: 50px;
    display: grid;
    padding: 5%;
    box-sizing: border-box;
    justify-content: center;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-auto-rows: 1fr;
    gap: 3%;
}
section div {
    background-color: white;
    border-radius: 20px;
    box-shadow: 7px 7px black;
    box-sizing: border-box;
}
section div:nth-child(1) {
    grid-row: 1/5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.int1, .int2, .int3 {
    width: 100%;
}
.int1 {
    height: 15%;
    font-size: 2rem;
    font-weight: 700;
    box-sizing: border-box;
    padding: 5%;
    text-align: center;
}
.int2 {
    height: 35%;
    background-image: url(../Images/Ellipse\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.int3 {
    height: 50%;
    box-sizing: border-box;
    padding-left: 8%;
    padding-top: 3%;
}
.int3 ul {
    list-style: none;
    line-height: 220%;
}
span {
    font-weight: 700;
}
section div:nth-child(2) {
    grid-column: 2/4;
    box-sizing: border-box;
    padding: 1% 5%;
}
section div:nth-child(3) {
    box-shadow: 7px 7px #29A71E;
    padding-left: 8%;
}
section div:nth-child(3) h3 {
    color: #29A71E;
    margin-left: 8%;
}
section div:nth-child(4) {
    grid-column: 3;
    grid-row: 2/4;
    box-shadow: 7px 7px #E13535;
    padding: 0 9%;
    line-height: 130%;
}
section div:nth-child(4) h3 {
    color: #E13535;
    margin-left: 8%;
}
section div:nth-child(5) {
    grid-column: 2;
    grid-row: 3/6;
    box-shadow: 7px 7px #3675B0;
    padding: 7% 8%;
    line-height: 150%;
}
section div:nth-child(5) h3 {
    color: #3675B0;
    margin-left: 8%;
}
section div:nth-child(6) {
    grid-column: 3;
    grid-row: 4/6;
    padding: 10% 15%;
    line-height: 140%;
}
section div:nth-child(7) {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    padding: 5%;
}
@media screen and (min-width: 1280px) {
    section {
        width: 1150px;
        margin: auto;
    }
    section div:nth-child(4) {
        line-height: 110%;
    }
}
@media (min-width: 1280px) and (max-width: 2000px) {
    section div:nth-child(5) {
        line-height: 120%;
    }
}
@media (min-width: 800px) and (max-width: 1024px) {
    .int3 ul {
        line-height: 200%;
    }
    section div:nth-child(5) {
        line-height: 100%;
    }
    section div:nth-child(4) {
        line-height: 100%;
        font-size: 17px;
    }
    section div:nth-child(6) {
        line-height: 100%;
    }
}